<div class="container" id="disclaimer">
<div class="col-lg-12">
<p> Neolithcountertops.com is a certified fabricator and installer for the area of Northern California.
 Neolithcountertops.com is not the manufacturer nor the slab distributor of Neolith surfaces.
 For more information about manufacturer and distribution in North America please visit www.neolith.com
</p>
</div>
</div>
