 <footer>
     <div class="container">
         <div class="row">
           <div class="col-lg-12">
             <p id="footer-nav"><a href="/">Home</a>
             <a href="collections">Collections</a>
             <a href="gallery">Gallery</a>
             <a href="faq">FAQ</a>
             <a href="about">About</a>
             <a href="contact">Contact</a>
             <a href="quote-form">Quote</a>
             <a href="samples">Samples</a></p>
           </div>
             <div class="col-lg-12">
               <div class="col-lg-4 text-left">
                 <p><strong>NeolithCountertops.com</strong><br>
                 128 W. Napa St.
                     <br>Sonoma, CA 95476<br><a href="mailto:sales@neolithcountertops.com">sales@neolithcountertops.com</a></p>
               </div>
               <div class="col-lg-8">
                 <ul class="list-inline">
                     <li>
                         <a href="http://www.greenguard.org/en/CertificationPrograms/CertificationPrograms_indoorAirQuality.aspx"><img src="https://neolith-countertops.s3.amazonaws.com/images/greenguard-logo-1.png" alt="GreenGuard Certification"></a>
                     </li>
                     <li>
                         <a href="http://www.greenguard.org/en/CertificationPrograms/CertificationPrograms_childrenSchools.aspx"><img src="https://neolith-countertops.s3.amazonaws.com/images/greenguard-logo-2.png" alt="Children &amp; Schools GreenGuard Certification"></a>
                     </li>
                     <li>
                         <a href="http://www.usgbc.org/"><img src="https://neolith-countertops.s3.amazonaws.com/images/leed-logo-1.png" alt="U.S. Green Building Council"></a>
                     </li>
                     <li>
                       <a href="http://www.usgbc.org/LEED"><img src="https://neolith-countertops.s3.amazonaws.com/images/leed-logo-2.png" alt="LEED Certifed"></a>
                     </li>
                     <li>
                       <a href="http://ec.europa.eu/enterprise/policies/single-market-goods/cemarking/index_en.htm"><img src="https://neolith-countertops.s3.amazonaws.com/images/ce-logo.png" alt="Meets CE Safety Standards"></a>
                     </li>
                 </ul>
               </div>
               <hr class="small">
               <p class="text-muted">&copy; Copyright 2017. All rights reserved. <strong>NeolithCounterTops.com</strong></p>
             </div>
             <hr>
             <div class="col-lg-12">
                 <footer>
                   Neolithcountertops.com is a certified fabricator and installer for the area of Northern California.
                   Neolithcountertops.com is not the manufacturer nor the slab distributor of Neolith surfaces.
                   For more information about manufacturer and distribution in North America please visit <a href ="http://www.neolith.com">www.neolith.com</a>
                 </footer>
             </div>
         </div>
     </div>
 </footer>
