<div class="sidebar-brand">
  <a class="menu-toggle" href="#">
      <i class="fa fa-bars fa-2x bars" aria-hidden="true"></i>
  </a>
  <a id="menu-brand" href="/">
      <img src="images/logo/neolith-countertops-logo.png"></img>
  </a>
</div>
<!-- Sidebar -->
<div id="sidebar-wrapper" >
    <ul class="sidebar-nav">
        <li>
            <a class="page-scroll" href="/about">About Neolith</a>
        </li>
        <li>
            <a class="page-scroll" href="/dealers">Dealers and Fabricators</a>
        </li>
        <li>
            <a class="page-scroll" href="/gallery">Gallery</a>
        </li>
        <li>
            <a class="page-scroll" href="/faq">FAQ</a>
        </li>
        <li>
            <a class="page-scroll" href="/collections">Collections</a>
        </li>
        <li>
            <a class="page-scroll" href="#">Newsletter</a>
        </li>
        <li>
            <a class="page-scroll" href="/">Contact</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
<div class="nav-right">
<a class="page-scroll" href="/gallery"><h5><i class="fa fa-camera-retro fa-lg"></i>&nbsp;GALLERY</h5></a>
<a class="page-scroll" href="/collections"><h5><i class="fa fa-heart fa-lg"></i>&nbsp;COLLECTIONS</h5></a>
<a class="page-scroll" href="/dealers"><h5><i class="fa fa-map-marker fa-lg"></i>&nbsp;DEALERS &amp; FABRICATORS</h5></a>
<a class="launch-modal" href="#" data-modal-id="modal-video"><h5><i class="fa fa-play-circle fa-lg"></i>&nbsp;VIDEO</h5></a>
<!-- <span class="dropdown" style="float: right;">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle"><h5>DOWNLOADS<b class="caret"></b></h5></a>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
  </ul>
</span> -->
</div>
