<div class="sidebar-brand">
  <a class="menu-toggle" href="#">
      <i class="fa fa-bars fa-2x bars" aria-hidden="true"></i>
  </a>
  <a id="menu-brand" href="/">
      <img src="images/logo/neolith-countertops-logo.png"></img>
  </a>
</div>
<!-- Sidebar -->
<div id="sidebar-wrapper" >
    <ul class="sidebar-nav">
        <li>
            <a class="page-scroll" href="/about">About Neolith</a>
        </li>
        <li>
            <a class="page-scroll" href="/dealers">Dealers and Fabricators</a>
        </li>
        <li>
            <a class="page-scroll" href="/gallery">Gallery</a>
        </li>
        <li>
            <a class="page-scroll" href="/faq">FAQ</a>
        </li>
        <li>
            <a class="page-scroll" href="/collections">Collections</a>
        </li>
        <li class="dropdown">
            <a href="/resources" data-toggle="dropdown" class="dropdown-toggle">Resources &nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="resources#catalogs"><i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>&nbsp;Catalogs</a></li>
              <li><a href="resources#warranty"><i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>&nbsp;Warranty Info</a></li>
              <li><a href="resources#safety"><i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>&nbsp;Safety Data Sheet</a></li>
              <li><a href="resources#performance"><i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>&nbsp;Performance &amp; Testing</a></li>
              <li><a href="resources#certification"><i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>&nbsp;Certifications</a></li>
              <li><a href="resources#manual"><i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>&nbsp;Technical Manuals</a></li>
            </ul>
        </li>
        <li>
            <a class="page-scroll" href="mailto:sales@neolithcountertops.com?subject=Enquiry%20from%20NeolithCountertops.com%20request&body=Full%20name%3A%0A%0AWhere%20did%20you%20hear%20about%20us%3F">Contact</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
<div class="nav-right">
<a class="page-scroll" href="/gallery"><h5><i class="fa fa-camera-retro fa-lg"></i>&nbsp;GALLERY</h5></a>
<a class="page-scroll" href="/collections"><h5><i class="fa fa-heart fa-lg"></i>&nbsp;COLLECTIONS</h5></a>
<a class="page-scroll" href="/dealers"><h5><i class="fa fa-map-marker fa-lg"></i>&nbsp;DEALERS &amp; FABRICATORS</h5></a>
<a class="launch-modal" href="#" data-modal-id="modal-video"><h5><i class="fa fa-play-circle fa-lg"></i>&nbsp;VIDEO</h5></a>
</div>
<!-- VIDEO MODAL -->
<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="neolith-intro" class="embed-responsive-item" src="" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- VIDEO MODAL ENDS -->
