<div class="pages">
  <div class="container">
    <div class="row">
      <img class="img-responsive content" src="/images/neolith-about-hdr.png" alt="">
        <div class="col-lg-6 summary">
            <h2>NeoLith Ultra Compact Surfaces</h2>
            <p>Ultra
            Compact Surfaces are a new type of counter top surface manufactured by
            putting the raw materials found in glass, porcelain, and quartz, under
            extremely high heat and pressure to create an nearly indestructible
            material that can be used for counter tops, floors, sinks, and even
            interior and exterior wall cladding. NeoLith is the next step in the
            evolution of counter top surfaces, flooring and wall cladding.</p>
            <p>What
            makes NeoLith the best choice for your new counter tops? Its NeoLith's
            revolutionary manufacturing process that use 100% natural materials,
            extreme heat, and intense pressure to produce the most durable surface
            material available in the market today. We confidently say “extreme”
            heat and "intense" pressure because NeoLith slabs are cured at about
            2200° Fahrenheit (1200+°º Celsius), and compressed to over 5900 pounds
            per square inch. In comparison quartz counter tops are only cured at
            about 200° Fahrenheit, and like other counter top surfaces, this
            results in a surface finish that can be easily damaged by something as
            simple as a hot pan with out a trivet or hot pad underneath.</p>
          </div>
          <div class="col-lg-6 video-link">
              <a href="#" class="launch-modal" data-modal-id="modal-video">
                <span class="fa-stack fa-3x play-btn">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                </span>
              </a>
          </div>
          <div class="col-lg-12 features">
            <h3>NeoLith Breakthrough</h3>
            <p>NeoLith
              is a breakthrough, high-tech ultra compact slab that makes the most
              demanding architectural projects easy, offering the ultimate
              combination of functionality and beauty for interiors, exteriors and
              furnishings.</p>
          </div>
          <div class="col-lg-12">
            <h3>NeoLith Ultra Compact Surfaces benefits:</h3>
          </div>
          <div class="col-lg-3">
            <img src="/images/neolith-brand-logo.png" alt="">
          </div>
          <div class="col-lg-9 features">
            <div class="col-lg-4">
              <ul>
                <li>Lightweight and easy to install.</li>
                <li>Resistant to scratches, abrasion, and wear.</li>
                <li>Resistant to fire and high temperatures.</li
              </ul>
              </div>
              <div class="col-lg-4">
              <ul>
                <li>Waterproof with near zero absorption.</li>
                <li>Suitable for direct food contact.</li>
                <li>Ridged with high flexural strength</li>
                <li>Freeze and thaw resistant.</li>
              </ul>
              </div>
              <div class="col-lg-4">
              <ul>
                <li>100% recyclable.</li>
                <li>Easy to clean.</li>
                <li>UV resistant.</li>
                <li>100% natural.</li>
              </ul>
              </div>
          </div>
          <div class="col-lg-12">
            <h3>Indoors or Outdoors without Worry</h3>
            <p class="summary">Neolith is the most durable counter top products on the market and can be used
            indoors or outdoors without worry. Even if you are planning to install
            in a location where temperatures vary from over 100° Fahrenheit in
            summer to -40° below zero in winter, NeoLith can handle extreme
            exposure without worry. </p>
          </div>
          <div class="col-lg-12">
            <h3 class="features">Neolith Slab Finishes</h3>
            <img class="img-responsive"src="/images/neolith-finishes.png" alt="Neolith Slab Finishes">
            <p class="small">Not all colors are available in all finishes.</p>
          </div>
          <div class="col-lg-12">
            <h3 class="features">Neolith Slab Sizes</h3>
            <img class="img-responsive" src="/images/slab-size.png" alt="Neolith slab size options">
          </div>
          <div class="summary col-lg-12">
          <h3>Warranty</h3>
              <p>Very
              few products are able to remain unchanged over time, and keep its
              properties of resistance, durability and look without change. The Size,
              the producer of NeoLith, offers a 10 years warranty on its 3+3+3, 3+3,
              5+3, 5+5, 6, 10 and 12 mm thick NEOLITH slabs used for worktop
              application.</p>
              <p>The Size does not guarantee the 3 mm and 5 mm thick slabs used
              for worktop application.</p>
              <p>Please register your NeoLith products with The Size <a href="http://www.neolith.com/en/support/warranty" target="new">here</a>. This data must be registered on
              <a href="http://www.neolith.com/en/support/warranty" target="new">The Size's website</a>.</p>
              <p>Tap <a href="../pdf/neolith-warranty.pdf" target="new">here to download</a> and view NeoLith
              brand's complete <a href="../pdf/neolith-warranty.pdf" target="new">Warranty Terms and Conditions.</a></p>
              <p style="color: rgb(177, 177, 0);">Note:
              NeolithCountertops.com is a certified dealer/fabricator. We are not the
              manufacturer of Neolith material.</p>
              <p>Only fabricators certified by Neolith may receive and
              fabricate uncut Neolith slabs.</p>
        </div>
    </div>
</div>
</div>
{{> footer }}
