<div class="pages">
<div class="container">
<div class="row">
<img class="img-responsive content" src="/images/neolith-collections-hdr.png" alt="">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <!-- ClasStone Collection -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="classtone">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <img src="/images/class-stone-header.jpg" alt="class stone collection">
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="classtone">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/estatuario-small.png" alt="estatuario">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/calacatta-small.png" alt="calacatta">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/blanco-carrara-small.jpg" alt="blanco carrara">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/onyx-small.png" alt="onyx">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/blanco-carrara-bc02-small.jpg" alt="blanco carrara">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/calacatta-gold-small.jpg" alt="calacatta gold">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/travertino-navona-small.png" alt="travertino-navona">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/travertino-clasico-small.png" alt="travertino-clasico">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/marfil-small.jpg" alt="marfil">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/strata-argentum-small.jpg" alt="strata-argentum">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/pulpis-small.png" alt="pulpis">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/nero-marquina-small.jpg" alt="nero marquina">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fusion Collection -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="fusion">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <img src="/images/fusion-header.jpg" alt="class stone collection">
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fusion">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/pietra-small.png" alt="pietra">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/arena-small.png" alt="arena">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/basalt-beige-small.png" alt="basalt biege">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/barro-small.png" alt="barro">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/basalt-gray-small.png" alt="basalt gray">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/lava-small.png" alt="lava">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/cement-small.png" alt="cement">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/phedra-small.png" alt="phedra">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/concrete-taupe-small.jpg" alt="marfil">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/beton-small.png" alt="beton">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/pietra-di-luna-small.png" alt="pietra di luna">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/pietra-di-piembo-small.png" alt="pietra di piombo">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/zahas-stone-small.jpg" alt="zahas stone">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/belgian-blue-small.png" alt="belgian blue">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/basalt-black-small.png" alt="basalt black stone">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/nero-zimb-small.png" alt="belgian blue">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/pierre-bleue-small.jpg" alt="basalt black stone">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/aspen-gray-small.jpg" alt="belgian blue">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Textil Collection-->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="textil">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <img src="/images/textil-header.jpg" alt="class stone collection">
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="textil">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/textil-white-small.png" alt="textil white">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/textil-black-small.png" alt="textil-black">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Iron Collection -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="iron">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <img src="/images/iron-header.jpg" alt="class stone collection">
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="iron">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/iron-ash-small.png" alt="iron ash">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/iron-moss-small.png" alt="iron-moss">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/iron-gray-small.png" alt="iron gray">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/iron-blue-small.png" alt="iron blue">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/iron-corten-small.png" alt="iron corten">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/iron-copper-small.png" alt="iron copper">
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Timber Collection -->
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="timber">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <img src="/images/timber-header.jpg" alt="class stone collection">
      </a>
    </h4>
  </div>
  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="timber">
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="col-lg-6">
          <img class="img-responsive" src="/images/timber-ice-small.png" alt="timber ice">
        </div>
        <div class="col-lg-6">
          <img class="img-responsive" src="/images/timber-oak-small.png" alt="timber oak">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-6">
          <img class="img-responsive" src="/images/timber-ash-small.png" alt="timber ash">
        </div>
        <div class="col-lg-6">
          <img class="img-responsive" src="/images/timber-night-small.png" alt="timber night">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-6">
          <img class="img-responsive" src="/images/la-boheme-small.jpg" alt="la boheme">
        </div>
        <div class="col-lg-6">
          <img class="img-responsive" src="/images/la-boheme02-small.jpg" alt="calacatta gold">
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Colorfeel Collection -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="colorfeel">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <img src="/images/colorfeel-header.jpg" alt="class stone collection">
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="colorfeel">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/arancio-small.png" alt="arancio">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/arctic-white-small.png" alt="arctic-white">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/avorio-small.png" alt="avorio">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/chocolate-small.png" alt="chocolate">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/cobalto-small.png" alt="cobalto">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/humo-small.png" alt="humo">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/mela-small.png" alt="mela-small">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/moka-small.png" alt="moka">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/nero-small.png" alt="nero">
          </div>
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/nieve-small.png" alt="nieve">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <img class="img-responsive" src="/images/perla-small.png" alt="perla">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Steel Collection -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="steel">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <img src="/images/steel-header.jpg" alt="class stone collection">
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="steel">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="col-lg-12">
            <img class="img-responsive" src="/images/steel-marengo-small.jpg" alt="steel-marengo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
{{> footer }}
