<div class="pages">
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12 content" id="neohdr">
      <h1>NeOLITH</h1>
      <h3>Find Dealers Nearby</h3>
    </div>
      <div class="input-group">
        <input value="San Francisco, CA" id="address" type="textbox" class="form-control" placeholder="Enter City or ZipCode">
        <span class="input-group-btn">
          <button id="finder" class="btn btn-primary" type="button">Search</button>
        </span>
      </div>
      <div id="map_wrapper">
        <div id="map" class="mapping"></div>
      </div>
  </div>
</div>
</div>
</div>
{{> footer }}
<!-- <div class="col-lg-12">
<h1>{{title}}</h1>
{{# each dealers }}
<div class="col-md-4">
{{# each this }}
<h3>{{ this.title }}</h3>
<p class="description">{{ this.address }}</p>
<p class="description">{{ this.location }}</p>
{{/each}}
</div>
{{/each}}
</div> -->
