<div class="pages">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive content" src="https://neolith-countertops.s3.amazonaws.com/images/neolith-faq-hdr.png" alt="">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading">
                 <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-target="#collapseOne">
                   <h3>What is Neolith Ultra Compact Surfaces?</h3>
                  </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>NeoLith is a revolutionary compact surface that combines high
                  performance specs, trendy colors, large format and variable thicknesses
                  that will provide solutions for every possible application (counter
                  tops, flooring, bathrooms, paneling, cladding, facades).</p>
                  <p>NeoLith does not scratch, does not stain, is heat and fire
                  resistant, and, thanks to the extremely low absorption rate of
                  technical porcelain, ideal for food contact and processing.</p>
                  <p>To learn more about NeoLith Ultra Compact Surfaces, please tap
                  <a href="about.html">here</a> to visit our <a href="/about">About</a> page. </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel2">
                <div class="panel-heading">
                     <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo"
                   role="button" class="collapsed">
                  <h3>How does NeoLith compare to other surfaces?</h3>
                </a>
              </h4>

                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <h3>Quartz</h3>
                      <p>Quartz slabs are manufactured using a vibro-compaction vacuum
                      process where crushed quartz, polyester resin, and pigments are pressed
                      into non-porous slabs, and then cured to 200° Fahrenheit. This low
                      temperature curing creates a finished material that's susceptible to
                      damaged by hot pans. Also because of the resin, quartz surfaces are
                      also susceptible to UV light resulting in color fading or damage from
                      household chemicals like acetone based nail polish remover.</p>
                      <p>NeoLith is greatly evolved beyond quartz surfaces and is
                      highly resistant in the areas of: UV light, staining, and heat. NeoLith
                      is made of 100% all natural materials and is cured at 2191° Fahrenheit
                      and compressed at 5900 pounds per square inch, creating a heat proof
                      surface with near zero water absorption and completely resistance to
                      chemicals and UV fading.</p>
                      <h3>Natural Granite</h3>
                      <p>The main concerns with regards to granite surfaces is its
                      tendency to be stained and easily cracked, and there are usually no
                      warranties against staining or cracking.</p>
                      <p>NeoLith Ultra Compact Surfaces improves on all of the concerns
                      over natural granite surfaces because it is cured at 2191° Fahrenheit
                      and compressed at 5900 pounds per square inch, creating a heat proof
                      surface with near zero water absorption. </p>
                      <h3>Porcelain</h3>
                      <p>Porcelain has been used for thousands of years. Made by
                      heating clay in the form of kaolin to temperatures of 2552° Fahrenheit.
                      Porcelain is used to make many products from pottery and tiles, to
                      toilets. However, the porcelain that is made into large slabs for
                      counter tops is different from true ultra compact surfaces like
                      Neolith. Porcelain slabs only comes in very thin sheets and the
                      coloration is only on the surface like a decal or print resulting in a
                      higher tendency to show scratched and wear.</p>
                      <p>NeoLith uses their Full Body pigmentation process. The color
                      and the design are integrated into the raw materials used to
                      manufacture the slabs. This means the pigments used to color the slab
                      are not just a coating that can be scratched or worn off the surface,
                      but is use though the whole body. Just check out a cross section of the
                      Neolith Full Body samples and you'll see the color goes all the way
                      through the material.</p>
                      <h3>Solid Surface Materials</h3>
                      <p>Solid surface materials like the brand Corian®, were invented
                      to improve on some of the drawbacks to natural stone. The idea is to
                      have a seamless non-porous counter-top, but the result ended up with a
                      material that's more like plastic than stone. Because of this, solid
                      surface materials have almost no resistance to heat, scratching, and
                      staining from chemicals.</p>
                      <h3>Marble</h3>
                      <p>Marble is very fragile and extremely porous surface material
                      so it cracks, scratches and stains very easily. </p>
                      <h3>Laminate</h3>
                      <p>Laminate counter tops (aka.Formica® counter tops) are
                      constructed of a thin layer of hard colored plastic glued to solid wood
                      or particle board substrate. While these counter tops are surprisingly
                      durable, they share a similar plastic look as the solid surfaces.
                      However, they are the only inexpensive alternative to stone counter
                      tops.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel3">
                <div class="panel-heading">
                     <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseThree"
                   role="button" class="collapsed">
                  <h3>What's a fabricator?</h3>
                </a>
              </h4>

                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>A fabricator is the person who is going to cut and finish your
                Neolith slab for your new counter tops. When designing and purchasing
                counter tops the most important relationship you have is with the
                fabricator. There are many variables associated with measuring,
                fabricating, and installing counter tops, so a good and trusted
                fabricator is vital to a project being completed well.</p>
                <p>Ultra compact surfaces are very durable and therefore require
                specialized skills and tools to fabricate. Only choose a fabricator
                that is certified by the manufacturer. We can connect you with a
                certified and qualified fabricator if you do not already have one lined
                up. Typically a small fabricator who installs granite or other softer
                surfaces is not qualified to fabricate or install Neolith ultra compact
                surfaces and in the end you will not be satisfied with the fabrication
                and installation you receive.</p>
                </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel4">
                <div class="panel-heading">
                   <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseFour"
                   role="button" class="collapsed">
                  <h3>What do I need to know when buying counter tops?</h3>
                </a>
              </h4>

                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>There are many things to consider when your planning your new
                    counter tops. This short list is by no means a complete list as every
                    project will have its own set of variables to consider during the
                    measurement and <a href="glossary.html">templating</a>
                    of the job. Many items are taken care of through your fabricator, but
                    if this is a DO-IT-YOURSELF project, here are some of the main items to
                    consider:</p>
                    <h3>Sinks</h3>
                    <p>If you are planning on having a sink installed within your new
                    Neolith counter top, you'll need to know the cutout dimensions and type
                    of sink (i.e. <a href="glossary.html">integrated</a>,
                    <a href="glossary.html">top mount</a>, <a href="glossary.html">under mount</a>, or <a href="glossary.html">vessel</a>).</p>
                    <h3>Faucet Holes</h3>
                    <p>You will need to determine how many you'll need, location, and
                    size for each <a href="glossary.html">faucet hole</a>
                    cutout.</p>
                    <h3>Overhangs</h3>
                    <p>Overhangs add more counter top space and style to your new
                    counters. Depending on your personal preferences your designer or
                    fabricator will assist you in determining the right <a href="glossary.html">overhang</a> for your space.</p>
                    <h3>Seams</h3>
                    <p>If you have an extra long or a shaped counter top like a L
                    Shape or U Shape, there will be the need for <a href="glossary.html">seams</a>
                    where two NeoLith slabs will butt up against each other. Decisions on
                    the best location for seams will need to be made.</p>
                    <h3>Edges</h3>
                    <p>There are several <a href="glossary.html">edges</a>
                    that can be incorporated into your new counter tops. It is important to
                    understand the differences and the cost associated with each type. You
                    design consultant or fabricator will be able to assist you with the
                    best options for your space.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel5">
                <div class="panel-heading">
                   <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseFive"
                   role="button" class="collapsed">
                  <h3>Is there a warranty?</h3>
                </a>
              </h4>

                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Yes, NeoLith warranties their slabs for 10 years. Tap <a href="../pdf/neolith-warranty.pdf" target="new">here
                to download</a> and view NeoLith's Warranty Terms and Conditions</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel6">
                <div class="panel-heading">
                   <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseSix"
                   role="button" class="collapsed">
                  <h3>How are NeoLith counter tops shipped?</h3>
                </a>
              </h4>

                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Depending on the size of your counter top, rectangle and
                  squares are shipped as one piece, "L" shaped are usually shipped in two
                  sections and "U" shaped are usually shipped in three sections. </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel7">
                <div class="panel-heading">
                   <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseSeven"
                   role="button" class="collapsed">
                  <h3>How heavy is Neolith counter top surface materials?</h3>
                </a>
              </h4>

                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Neolith counter top surface materials is 12mm (1/2") thick and
                  weights 8lbs/ft²</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel8">
                <div class="panel-heading">
                   <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseEight"
                   role="button" class="collapsed">
                   <h3>Can the NeoLith chip?</h3>
                </a>
              </h4>

                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body"><p>Yes it can chip, just like stone. Depending on the style of
                  Neolith you choose it may or may not be able to be patched. Like stone,
                  protect exposed edges if you feel chipping may occur.</p></div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer }}
