<div class="pages">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img class="img-responsive content" src="https://neolith-countertops.s3.amazonaws.com/images/neolith-gallery-hdr.png" alt="">
    </div>
    <div class="col-md-12">
      <div id="lightgallery">
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-1.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-1tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-2.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-2tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-3.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-3tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-4.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-4tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-5.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-5tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-6.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-6tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-7.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-7tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-8.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-8tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-9.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-9tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-10.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-10tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-12.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-12tn.png" />
        </a>
        <a href="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-13.png">
          <img class="thumbs" src="https://neolith-countertops.s3.amazonaws.com/images/gallery/slide-13tn.png" />
        </a>
      </div>
    </div>
  </div>
</div>
</div>
{{> footer }}
