<div class="pages">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 content neohdr">
        <h1>NeOLITH</h1>
        <h3>Resources</h3>
      </div>
      <!-- Page Features -->
           <div class="row text-center">
               <div class="col-md-4 col-sm-6">
                   <div class="thumbnail">
                       <div class="caption">
                           <a href="resources#catalogs"><h3>Catalogs &nbsp;<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></h3></a>
                       </div>
                   </div>
               </div>

               <div class="col-md-4 col-sm-6">
                   <div class="thumbnail">
                       <div class="caption">
                           <a href="resources#warranty"><h3>Warranty&nbsp;<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></h3></a>
                       </div>
                   </div>
               </div>

               <div class="col-md-4 col-sm-6 ">
                   <div class="thumbnail">
                       <div class="caption">
                           <a href="resources#safety"><h3>Safety Data Sheet&nbsp;<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></h3></a>
                       </div>
                   </div>
               </div>

               <div class="col-md-4 col-sm-6">
                   <div class="thumbnail">
                       <div class="caption">
                           <a href="resources#performance"><h3>Statement of Performance&nbsp;<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></h3></a>
                       </div>
                   </div>
               </div>

               <div class="col-md-4 col-sm-6">
                   <div class="thumbnail">
                       <div class="caption">
                           <a href="resources#certification"><h3>Certification&nbsp;<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></h3></a>
                       </div>
                   </div>
               </div>

               <div class="col-md-4 col-sm-6">
                   <div class="thumbnail">
                       <div class="caption">
                           <a href="resources#manuals"><h3>Technical Manuals&nbsp;<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></h3></a>
                       </div>
                   </div>
               </div>
           </div>
<!-- Catalog Section -->
   <section id="catalogs" class="catalogs-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1>Catalogs</h1>
                   <hr>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Neolith%20Technical%20Datasheet%20Summary.pdf" target="_blank">Neolith Technical Datasheet Summary</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Catalogue%20Kitchen%20Lounge%202016.pdf" target="_blank">Catalogue Kitchen Lounge 2016</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Catalogue%20Skintouch%202016.pdf" target="_blank">Catalogue Skintouch 2016</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Catalogue%20Skyline%20North%20America%202016.pdf" target="_blank">Catalogue Skyline North America 2016</a></li>
                     </ul>
                   </div>
                   <div class="col-md-4">
                   <ul class="list-group">
                     <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Classtone%20Catalogue%202016.pdf" target="_blank">Classtone Catalogue 2016</a></li>
                     <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/General%20Brochure%20Neolith%202016.pdf" target="_blank">General Brochure Neolith 2016</a></li>
                     <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Neolith%20New%20Products%202016.pdf" target="_blank">Neolith New Products 2016</a></li>
                   </ul>
                   </div>
                   <div class="col-md-4">
                   <ul class="list-group">
                     <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/New%20Products%202017" target="_blank">New Products 2017</a></li>
                     <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Sinks%20Catalogue%202016.pdf" target="_blank">Sinks Catalogue 2016</a></li>
                     <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Skyline%20Catalogue%202015.pdf" target="_blank">Skyline Catalogue 2015</a></li>
                   </ul>
                   </div>
               </div>
           </div>
       </div>
   </section>

   <!-- Warranty Section -->
   <section id="warranty" class="warranty-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1>Warranty</h1>
                   <hr>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/10%20Year%20Warranty%20Terms.pdf" target="_blank">10 Year Warranty Terms</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Anti-slip%20Warranty%20Conditions.pdf" target="_blank">Anti-slip Warranty Conditions</a></li>
                     </ul>
                   </div>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Green%20Facts%20Sheet.pdf" target="_blank">Green Facts Sheet</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Neolith%20Warranty%20Terms%20for%20Facades.pdf">Neolith Warranty Terms for Facades</a></li>
                     </ul>
                   </div>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Obtaining%20Leed%20Credits%20with%20Neolith.pdf" target="_blank">Obtaining Leed Credits with Neolith</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Warranty%20Neolith%20Anti%20%20-%20Slip%20Flooring.pdf" target="_blank">Warranty Neolith Anti  - Slip Flooring</a></li>
                     </ul>
                   </div>
               </div>
           </div>
       </div>
   </section>

   <!-- Safety Section -->
   <section id="safety" class="safety-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1>Safety Data Sheet</h1>
                   <hr>
                   <div class="col-md-12">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Safety%20data%20sheet%20Neolith.pdf">Safety data sheet Neolith</a></li>
                     </ul>
                   </div>
               </div>
           </div>
       </div>
   </section>

   <!-- Statement of Performance Section -->
   <section id="performance" class="performance-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1>Statement of Performance</h1>
                   <hr>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_3mm_ING.pdf" target="_blank">Declaration of Performance - Neolith 3mm</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_3+_ING.pdf" target="_blank">Declaration of Performance - Neolith 3&#43;</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_3+3_ING.pdf" target="_blank">Declaration of Performance - Neolith 3&#43;3</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_3+3+3_ING.pdf" target="_blank">Declaration of Performance - Neolith 3&#43;3&#43;3</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_12mm_ING.pdf" target="_blank">Statement of Performance - Technical Data Sheet 12 mm</a></li>
                     </ul>
                   </div>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_5+_ING.pdf" target="_blank">Declaration of Performance - Neolith 5 &#43;</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_5mm_ING.pdf" target="_blank">Declaration of Performance - Neolith 5mm</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_5+3_ING.pdf" target="_blank">Declaration of Performance - Neolith 5 &#43; 3</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_5+5_ING.pdf" target="_blank">Declaration of Performance - Neolith 5 &#43; 5</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_12+_ING.pdf" target="_blank">Statement of Performance - Technical Data Sheet 12 &#43;</a></li>
                     </ul>
                   </div>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_6+_ING.pdf" target="_blank">Declaration of Performance - Neolith 6 &#43;</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_6mm_ING.pdf" target="_blank">Declaration of Performance - Neolith 6mm</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_10+_ING.pdf" target="_blank">Declaration of Performance - Neolith 10&#43;</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Declaration_of_Performance_10mm_ING.pdf" target="_blank">Declaration of Performance - Neolith 10mm</a></li>
                     </ul>
                   </div>
               </div>
           </div>
       </div>
   </section>

   <!-- Certifications Section -->
   <section id="certification" class="certification-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1>Certifications</h1>
                   <hr>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/ASTM%205mm+3mm.pdf" target="_blank">ASTM 5mm+3mm</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Green%20Guard%20Certificate.pdf" target="_blank">Green Guard Certificate</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Green%20Guard%20Gold%20Certificate.pdf" target="_blank">Green Guard Gold Certificate</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/ISO%2014021-1999%20SGS.pdf" target="_blank">ISO 14021-1999 SGS</a></li>
                     </ul>
                   </div>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Kosher%20Certificate.pdf" target="_blank">Kosher Certificate</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Neolith%20Technical%20Datasheet%20Summary.pdf" target="_blank">Neolith Technical Datasheet Summary</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/NSF%20Certificate.pdf" target="_blank">NSF Certificate</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Self-declaration%20of%20recycled%20material%20content.pdf" target="_blank">Self-declaration of recycled material content</a></li>
                     </ul>
                   </div>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/UNE%20-%203mm%20_%205mm.pdf" target="_blank">UNE - 3mm _ 5mm</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/UNE%20-%20ABRASION%20TEST.pdf" target="_blank">UNE - ABRASION TEST</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/UNE%20-%20FOOD%20CONTACT.pdf" target="_blank">UNE - FOOD CONTACT</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/UV%20Resistance%20Report.pdf" target="_blank">UV Resistance Report</a></li>
                     </ul>
                   </div>
               </div>
           </div>
       </div>
   </section>

   <!-- Technical Manual Section -->
   <section id="manuals" class="manuals-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1>Technical Manuals</h1>
                   <hr>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Cladding%20and%20flooring%20Guide.pdf" target="_blank">Cladding and flooring Guide</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Cleaning%20and%20Maintenance%20for%20Polished%20Finish.pdf" target="_blank">Cleaning and Maintenance for Polished Finish</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Cleaning%20and%20Maintenance%20Guide.pdf" target="_blank">Cleaning and Maintenance Guide</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Polished%20Finish%20Manual.pdf" target="_blank">Polished Finish Manual</a></li>
                     </ul>
                   </div>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Facade%20Application%20-%20Technical%20Guide%20(Europe%20version).pdf" target="_blank">Facade Application - Technical Guide (Europe version)</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Facade%20Application.%20Technical%20Guide%20(North%20America).pdf" target="_blank">Facade Application. Technical Guide (North America)</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Neolith%20Sinks%20Technical%20Datasheet%20(inches).pdf" target="_blank">Neolith Sinks Technical Datasheet (inches)</a></li>
                     </ul>
                   </div>
                   <div class="col-md-4">
                     <ul class="list-group">
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Technical%20Countertop%20Manual%202015.pdf" target="_blank">Technical Countertop Manual 2015</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Neolith%20Sinks%20Technical%20Datasheet.pdf" target="_blank">Neolith Sinks Technical Datasheet</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Polished%20Finish%20Manual.pdf" target="_blank">Polished Finish Manual</a></li>
                       <li class="list-group-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;<a href="https://neolith-countertops.s3.amazonaws.com/pdf/Recommendations%20for%20Cutting%2012%20mm.pdf" target="_blank">Recommendations for Cutting 12 mm</a></li>
                     </ul>
                   </div>
               </div>
           </div>
       </div>
   </section>
 </div>
</div>
</div>
